<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Banking Digital Solutions</title>{% load static %}
    <link rel="stylesheet" href="{%static '../static/index.css' %}">
</head>

<body>
    <div class="background-image">
        <p class="Title">Welcome to Banking Digital Solutions:</p>
        <p class="Subheading">Your pathway to financial success.</p>
        <div>
            <button class="button">
                <a href="login">
                    <b class="buttontxt">Log In</b>
                </a>
            </button>
            <button class="button">
                <a href="register">
                    <b class="buttontxt">Register</b>
                </a>    
            </button>
        </div>
    </div>
    <!--<script src="index.js"></script>-->
</body>
</html>
