/*----/------------------------------------/
     /------------------------------------/
    /------------------------------------/
   /------------------------------------/
  /------------------------------------/
 /------------------------------------/
/-----------------------------------*/
.box{
  background-image: url(Images/boxbody1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display:inline-block;
  border: 4px solid rgb(110, 84, 5);
  margin-left: 6vw;
  margin-top: 4vh;
  padding-top: 30px;
  cursor: pointer;
  height: 70vh;
  width: 45vw;
  text-align: center;
}
.box:hover{
  transform: scale(107%);
  transition: ease-in-out 250ms;
  filter: brightness(1.6);
  outline-style: groove;    
  outline: double 8px rgba(255, 255, 255, 0.472);
}
.box:active{
  transform: scale(95%);
  transition: ease-in-out 50ms;
}
.box.active{
  transform: scale(100%);
  filter: brightness(1);
  margin-top: -1mm;
  margin-left: 9.5vw;
  width: 80vw;
  height: 80vh;
  transition: ease-in-out 1000ms !important;
  background-position: center !important;
}
/* --------------------------------------- */
.balance{
  display: inline-block;
  margin-left: 70px;
  position: relative;
}li{
  padding-bottom: 2vh;
}
.hidden{
  display: none;
}


.inputStyling{
  background-image: url(Images/money.png);
  background-size: contain;
  background-repeat: no-repeat;
  
  margin-bottom: 2.5vh !important;
  margin-top: 6.5vh;
  padding: 1vh 3vw;
  border: none;
  outline: none;
  border-top: 3px solid rgb(110, 84, 5);
  border-bottom: 5px solid rgb(110, 84, 5);
  color: rgb(205, 169, 79);    
  width: 15vw;
  transition: width 0.5s ease-in-out;

  text-align: left;
  font-weight: 100;
  font-size: xx-large;
}::placeholder{
  color: rgb(205, 169, 79);
}
.inputStyling:hover{
  transform: scale(110%);
  transition: 300ms;
}
.inputStyling:focus{
  border-bottom: 5px solid rgb(110, 84, 5);
  font-size: 2.5vw;
  padding: 2vh 4.5vw;
  width: 20vw;
  transition: 700ms;
}
.submit{
  position: sticky;
  cursor: pointer;
  background: rgba(81, 80, 76, 0.81);
  color: rgb(170, 207, 210); 
  font-size: larger;
  border: 2px solid rgb(110, 84, 5);

  margin-top: 0vh;
  min-height: 6vh;
  min-width: 8vw;
  margin-bottom: -1vh;

  border-top-right-radius: 5cm;
  border-bottom-right-radius: 5cm;
  border-top-left-radius: 5cm;
  border-bottom-left-radius: 5cm;
}
.submit:hover{
  outline: -webkit-focus-ring-color auto 1px;
}
.submit:active{
  width: 10vw;
}

.error{
  margin-top: -1.5vh;
  margin-right: 5vw;
  margin-bottom: 3vh;
  color: rgb(255, 227, 127);
  font-size: 3.5vh;
}

.clear{
  padding: 1vh 1vw;
  width: 44vw;
  height: 70vh;
  float: right;
  margin-right: 1vw;
  margin-top: 4.5vh;

  font-family:'Times New Roman', Times, serif;
  font-size: 2vw;
  font-weight: 500;
  color: rgb(224, 230, 193);
}