.bodybg{
    height: min-content;
}
.box{
    margin-left: 10vw;
    width: 80vw;
    padding-top: 5vh;
    padding-left: 2vw;
    height: 100% !important;
    text-align: left;
    background-image: url(../static/Images/body3.png);
    background-repeat: round;
    background-position: center;
    filter: brightness(0.8);
}
h1{
    font-size: 6vh;
    color: rgb(212, 220, 173);
    font-weight: 300;
    text-align: center !important;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: rgb(255, 255, 255);
    font-size:  3vh;
}
li{
    margin-left: 3vw;
    margin-top: 1vh;
    font-size: 2.5vh;
    color: white;
}