<!DOCTYPE html>
<html lang="en" xmlns="ufc-8">

<head>
    <meta charset="utf-8"/>
    <title>BDS: Log In</title>{% load static %}
    <link rel="stylesheet" href="{%static '../static/login.css'%}">
</head>

<body>
    <div class="background-image">
        <p class="Title">Welcome to Banking Digital Solutions:</p>
        <form id="formReg" method="post" class="regBox">
            {% csrf_token %}
            <div id="inputFields">
                <b class="subheading">Log in:</b>
                <p class="inputTag">Enter Email:<input required name="email" class="inputStyling email" type="email" placeholder="Email Address..." ></p>
                <p class="inputTag">Enter Password:<input required name="password" class="inputStyling passw" type="password" placeholder="Password..."></p>
                {% if messages %}
                <div class="inputTag">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <button type="submit" class="login"><b>Enter</b></button>
            </div>
        </form>
    </div>
    <script src="{%static '../static/login.js' %}"></script>
</body>

<!--
</html>


        <form class="regBox">
            <div>
                <b class="subheading">Log in:</b>
                <p class="inputTag">Enter Email:<input required class="inputStyling email" type="email" placeholder="Email Address..."></p>
                <p class="inputTag">Enter Password:<input required class="inputStyling passw" type="password" placeholder="Password..."></p>
            </div>
            <div>
                <button class="login"><b>Enter</b></button>
            </div>
        </form>-->